*{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}
.home_page{
    background-color: black;
    padding-bottom: 50px;
    padding-top: 5vh;
}
nav{
    color: white;
    display: flex; 
    align-items: center;
    width: 99vw;
    justify-content: space-around;
    padding-top: 15px;
    padding-bottom: 12px;
    margin-inline:auto;
    position:fixed;
    top:0;
    background-color: black;
    z-index: 2000;
    
}
.navOptns{
    display: flex;
    gap: 32px;
}

.nav_user{
    display: flex;
    gap: 16px;
    align-items: center;
}
.nav_user>span{
    font-weight: 500;
}
.search_bar{
display: flex;
gap: 10px;
align-items: center;
margin-top: 9vh;
background-color: white;
width: 70vw;
height: 10vh;
border-radius: 5vw;
margin-inline:auto;
box-sizing: border-box;
padding: 1px 4px;

}
.bl{
    font-size: 15px;
    line-height: 22px;
    font-weight: 600;
}
.inputeField,.date{
    border: none;
    outline: none;
    background: transparent;
    width: 100%;
}
.gr{
    color: var(--gray-500, #6B7280); 
    font-size: 14px;
}

.vl{
    width: 1px;
    background: var(--gray-500, #E5E7EB);
    height:30px;
}

.location{

    width: 20vw;
    border-radius: 5vw;
    height: 10vh;
    padding-left:25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.checkin,.checkout{

    width: 11vw;
    border-radius: 5vw;
    height: 10vh;
    padding-inline:10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.addGuests{
   
    display: flex;
    align-items: center;
    width: 18vw;
    border-radius: 5vw;
    height: 10vh;
    padding-left:25px;
    justify-content: space-between;
}
.addGuests>img{
width: 4vw;
padding-right: 0.3vw;
}


.change_grey:hover{
    background-color: #ebebeb;
}

.dropdown{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 28vw;
    height: 27vw;
    position: relative;
    bottom: 74vh;
    left: 56vw;
    gap: 1px;
    box-sizing: border-box;
    z-index: 1800;
    background-color: white;
    border-radius: 3vw;
    padding: 5px 40px;
}

.hide_dropdown{
    display: none;
}
.show_dropdown{
    display: flex;
}
.dropdown>div{
display: flex; 
justify-content: space-between;
width: 100%;

padding-top: 12px;
}
hr{
    width: 23vw;
    margin-left: 2vw;
    margin-top: 2vw;
    height: 1px;
    background-color: #E5E7EB;
    border: none;
    }
.guests_input{
    width: 35px;
    height: 30px;
    font-size: 18px;
    outline: none;
}
.hero{
    margin-inline:auto;
    align-items: center;
    justify-content: end;
    display: flex;
    flex-direction: column;
    width: 80vw;
    height: 72vh;
    margin-top: 2vw;
    background-image: url("assets/hero_background.jpeg");
    background-repeat: no-repeat;
    background-size: 100% 100% ;
   

}
.hero>div{
font-size: 36px;
font-weight: 500;
color: white;
}
.hero>button{
border-radius: 100px;
border: none;
background: white;
padding: 15px 5px;
font-weight: 500;
width: 10vw;
font-size: 16px;
color: #671296;
margin-top: 1vh;
margin-bottom: 3vh;
}

.heading{
font-weight: 500;
font-size: 30px;
}
.cards{
    margin-top: 5vw;
    width: 80vw;
    margin-inline: auto;
}
.card_container{
display: flex;
margin-top: 25px;
gap: 35px;
align-items: center;
}
.card>img{
width: 17vw;
height: 42vh;
}
.discoverExperiences{
    margin-top: 5vw;
    width: 80vw;
    margin-inline: auto;
}
.Experiences{
    display: flex;
    margin-top: 25px;
    gap: 50px;
}
.Experiences>img{
width: 480px;
height: 430px;
}

.shop_cards{
    margin-top: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.shop_cards>img{
width: 60vw;
}

.shop_card_detail{
    margin-right: 5vw;
}
.shop_card_detail>p{
font-weight: 500;
font-size: 36px;
}
.learnMore{
    margin-top: 20px;
    border: none;
    color: white;
    background-color: black;
    border-radius: 15px;
    padding: 15px 20px ;
}
.questionHosting{
    margin-top: 70px;
    width: 85vw;
    margin-inline: auto;
}
.questionHosting>img{
width: 85vw;
}



.inspiration_future{
    margin-top: 70px;
    margin-left:8vw;
    width: 90vw;
}
.inspiration_future>img{
    width: 90vw;
}





footer{
    background-color:
    #F9FAFB ;
    margin-top: 80px;
}
.useful_links{
    width: 98vw;
    margin-inline: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

table,td{
   padding:10px;
}
.hd{
    font-size: 16px;
    font-weight: 700;
    color: black;
}
td{
    font-size: 14px;
    color: #4B5563;
    margin-left: 80px;
}

.copyright{
    margin-top: 30px;
    width: 90vw;
    margin-inline: auto;
    padding-bottom: 20px;
}
.copyright>img{
    width: 90vw;
}